APP_ENV=dev

# Supabase Postgres connection string (SQLAlchemy + psycopg2 형식)
DATABASE_URL=postgresql+psycopg2://postgres.zavckirekuscsmxsjqug:[DBPASSWORD]@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres
CORS_ALLOWED_ORIGINS=http://localhost:3000